<h2>Пользовательское соглашение</h2>
<p>Соглашение с пользователем и условия конфиденциальности</p>
 
<h2>1. Термины</h2>
<p>Пользователь – посетитель Сайта, прошедший процедуру регистрации на Сайте в установленном порядке.</p>
 
<p>Сайт – расположенный по адресу http://turs.pro сервис, являющийся собственностью ИП Мещеряков (далее – «Компания-владелец»).</p>
 
<p>Контент –  информация, иные объекты добровольно и безвозмездно размещаемые Пользователем на Сайте.</p>
 
<p>Личные данные – информация, позволяющая идентифицировать Пользователя, в том числе контактная информация, добровольно и безвозмездно размещаемая Пользователем на Сайте.</p>
 
<p>Администрация Сайта – группа сотрудников компании-владельца и ее доверенных лиц, устанавливающая порядок использования Сайта, управляющая его работой, контролирующая выполнением Пользователями настоящего Соглашения.</p>
 
<h2>2. Предмет соглашения</h2><p>
2.1. Настоящее Соглашение с пользователем (далее «Соглашение») является юридическим соглашением между Пользователем и Компанией-владельцем, устанавливающее правила использования Сайта.<br/>
2.2. Регистрацией на Сайте Пользователь подтверждает свое полное согласие с условиями настоящего Соглашения.<br/>
2.3. В случае несогласия с какими-либо условиями Соглашения Пользователь обязуется незамедлительно прекратить пользование Сайтом.<br/>
2.4. Администрация Сайта оставляет за собой право в любое время изменить условия настоящего Соглашения. При этом Пользователь принимает на себя обязательство своевременно знакомится с изменениями условий Соглашения.<br/>
2.5. Регистрацией на Сайте Пользователь подтверждает, что обладает необходимой правоспособностью и полномочиями для принятия настоящего Соглашения, способен исполнять условия Соглашения и нести ответственность за нарушение Соглашения, в том числе по правоотношениям, возникшим вследствие пользования Сайтом.<br/>
2.6. Пользователь несет персональную ответственность за Контент и все последствия, связанные с его публикацией.<br/>
2.7. Размещая Контент, Пользователь гарантирует что, обладает всеми правами и полномочиями, необходимыми для передачи прав в соответствии с п.5.5. настоящего Соглашения.<br/>
2.8. Размещая Контент, Пользователь предоставляет право любому другому Пользователю Сайта на доступ к Контенту.<br/>
</p> 
<h2>3. Права и обязанности Пользователя</h2><p>
3.1. Пользователь обязуется не размещать Контент провокационного, грубого, оскорбительного и агрессивного характера, противоречащий моральным и этическим нормам, нарушающий действующее российское или международное законодательство, нарушающий права, в том числе интеллектуальные, третьих лиц.<br/>
3.2 Пользователь вправе размещать на Сайте Контент в соответствии с условиями настоящего Соглашения.<br/>
3.3 При регистрации Пользователь обязуется указать достоверные Личные данные.<br/>
3.4 На весь Контент, публикуемый на Сайте в записях или комментариях, распространяется действие авторского права. Все заимствованные материалы должны иметь указание имени автора, если оно указано на сайте-источнике, а при невозможности его установления — значок копирайта (с). Гиперссылки на заимствованные материалы, размещенные ранее в Интернете, приветствуются, а в том случае, если автор заявит об их необходимости, — требуются обязательно. Пользователь обязуется не приписывать себе авторство чужих текстов или изображений.<br/>
3.5 Пользователь несёт ответственность за нарушение данного Соглашения в соответствии с законодательством Российской Федерации.<br/>
3.6 В случае нанесения ущерба третьим лицам, другим Пользователям или Сайту Пользователь обязуется возместить причиненный ущерб в полном объёме и в размере в соответствии с действующим законодательством Российской Федерации.<br/>
3.7 Пользователь несет ответственность и все расходы (включая возмещение убытков, вреда, штрафов, судебных и иных расходов и издержек) в случае предъявления третьими лицами каких-либо претензий, включая, но не ограничиваясь претензиями связанными с защитой интеллектуальных прав третьих лиц, и за какие-либо обязательства, возникшие у Сайта в связи с требованиями третьих сторон, связанные или возникшие вследствие нарушения Пользователем условий настоящего Соглашения. Пользователь обязуется принять все необходимые и возможные меры, направленные на исключение Сайта из числа ответчиков.<br/>
 </p>
<h2>4. Права и обязанности Администрации Сайта</h2><p>
4.1. Администрация Сайта обязуется защищать всю контактную информацию Пользователя. За исключением контактной информации данные Пользователя доступны для просмотра другим пользователям и посетителям Сайта.<br/>
4.2. Администрация Сайта обязуется не разглашать контактную информацию Пользователя третьим лицам, кроме случаев, предусмотренных действующим законодательством и настоящим Соглашением.<br/>
4.3. Администрация Сайта не занимается рассмотрением и разрешением споров и конфликтных ситуаций, возникающих между Пользователями Сайта, однако оставляет за собой право заблокировать страницу Пользователя в случае получения от других Пользователей мотивированных жалоб на некорректное поведение данного Пользователя на Сайте.<br/>
4.4 Администрация Сайта не несёт ответственности за самостоятельное раскрытие Пользователем своей контактной информации другим Пользователям. При этом Пользователь получает оповещение от Сайта о раскрытии этой информации.<br/>
4.5 Администрация Сайта вправе, но не обязана осуществлять модерацию текста, фотографий, комментариев и иных материалов, размещаемых Пользователями на Сайте.<br/>
4.6 Администрация Сайта вправе удалить любой текст, фотографию, комментарий Пользователя без уведомления и объяснения причин.<br/>
4.7 Администрация Сайта не контролирует соблюдение авторских прав на интеллектуальную собственность и не несет ответственности за нарушение их Пользователями Сайта.<br/>
4.8 Администрация Сайта не дает никаких гарантий, выраженных явно или подразумеваемых, что материалы, публикуемые на Сайте, полезны и интересны.<br/>
4.9 В случае нарушения Пользователем условий настоящего Соглашения, либо действующего законодательства РФ, Сайт оставляет за собой право передачи контактных данных, IP адреса, любой другой информации заинтересованным лицам.<br/>
4.10 Администрация Сайта использует информацию о действиях Пользователя в целях улучшения работы Сайта.<br/>
4.11. Администрация Сайта оставляет за собой право приостановить либо прекратить доступ к Сайту при достаточных основаниях предполагать, что Личные данные указаны не полно либо не верно.<br/>
4.12. В случае нарушения Пользователем условий данного Соглашения Администрация Сайта вправе заблокировать страницу Пользователя.<br/>
4.13. Администрация Сайта оставляет за собой право вводить любые ограничения в отношении пользования Сайта.<br/>
4.14. Администрация Сайта либо компания-владелец оставляет за собой право закрыть, приостановить, изменить Сайт либо его часть без предварительного уведомления Пользователя.<br/>
 </p>
<h2>5. Прочее</h2><p>
5.1. Соглашение вступает в силу с момента Регистрации Пользователя на Сайте и действует в течение всего срока использования Сайта.<br/>
5.2. Администрация Сайта и компания-владелец не несут ответственности за Контент, размещенный на Сайте. Так же, Сайт и компания-владелец не несут никакой ответственности:<br/>
- За неточность и не полноту Контента;<br/>
- За ущерб, вред и убытки любого характера причиненные вследствие пользования Сайтом либо нарушения его работы;<br/>
- За разглашение Личных данных произошедших вследствие нарушения работы Сайта.<br/>
5.3. Администрация Сайта оставляет за собой право вносить любые изменения в настоящее Соглашение.<br/>
5.4. Пользователь добровольно добавляет Контент на Сайт, при этом Пользователь сохраняет интеллектуальные и любые иные права, которые принадлежат ему в отношении Контента.<br/>
5.5. Размещая Контент, Пользователь подтверждает, что этим безвозмездно предоставляет компании-владельцу и Сайту право на показ, воспроизведение, изменение, хранение, открытую демонстрацию, адаптирование, публикацию, распространение, архивирование, перевод и любое иное использование Контента или любой его части без ограничения срока и территории действия.<br/>
5.6. Пользователь признает за компанией-владельцем все права на Сайт как единый объект, включая все его составляющие.<br/>
5.7. Принимая настоящее Соглашение, Пользователь выражает свое согласие с тем, что:<br/>
- При размещении Контента Пользователь не становится соавтором Сайта и отказывается от каких либо претензий на такое авторство в будущем;<br/>
- В случае передачи компании-владельцу каких-либо прав на Контент в соответствии с п.5.5. настоящего Соглашения Пользователь лишается права на отзыв произведения, как оно определено ст. 1269 ГК РФ.<br/>
- В случае размещения Контента, специально созданного Пользователем для размещения на Сайте, исключительное право на такой Контент сохраняется за Пользователем.<br/>
5.8. Доступ к материалам Сайта, в том числе к Контенту предоставляется Пользователю исключительно для личного использования и ознакомления. Без предварительного письменного согласия владельцев соответствующих прав Пользователь не имеет права использовать, воспроизводить, распространять любым способом, копировать, публично показывать, передавать в эфир для всеобщего сведения, переводить, переделывать, или использовать любым иным способами в каких либо иных целях материалы Сайта.<br/>
5.9. Администрация Сайта и компания-владелец не несут никакой ответственности за целостность и сохранность Контента, размещенного на Сайте.<br/>
5.10. Условия п.п.5.5., 5.7. настоящего Соглашения остаются в силе после прекращения действия настоящего Соглашения.<br/>
5.11. В случае, если Администрация Сайта или компания-владелец в какой-либо момент не требует от Пользователя выполнения каких-либо условий настоящего Соглашения, это не отменяет права Администрации Сайта или компании-владельца требовать такого выполнения позднее, равно как и принимать меры, направленные на выполнение Пользователем условий настоящего Соглашения.<br/>
5.12. После прекращения действия Соглашения, компания-владелец продолжает владеть всеми переданными правами на Контент, без каких-либо обязательств оплаты Пользователю за его использование.<br/>
5.13. Никакие положения настоящего Соглашения не ограничивают права Администрации Сайта, компании-владельца или Пользователя заключать аналогичные соглашения с любым другим лицом.<br/>
5.14. Признание недействительным одного из условий или положений настоящего Соглашения не является основанием для признания недействительным любых других условий или положений Соглашения.<br/>
5.15. Пользователь соглашается, что в случае возникновения споров они подлежат разрешению в соответствии с действующим законодательством Российской Федерации.<br/>
 </p>
<p>Администрация Сайта оставляет за собой право вносить любые поправки в настоящее Соглашение</p>