<p>
      <ul class="countru_list">
        <% @directions.each do |direction|  %>
        <li><%= link_to country_url(direction.country_id) do %><%= image_tag direction.country.flag.url(:thumb), :width => 40, :height => 20 %> <%= direction.country.title %><% end %></li>
        <% end %>

      </ul>
    </p>