<p>
      <ul class="countru_list">
        <% @directions.each do |direction|  %>
        <li><%= image_tag direction.country.flag.url(:thumb) %> <%= direction.country.title %></li>
        <% end %>

      </ul>
    </p>