<h1><%= t(:recommended_service) %></h1>

<% unless RecommendedService.activated(current_user) %>
  <%= link_to "Активировать", paid_service_activate_recommended_url %>
<% else %>
  Активированно! <%= link_to "Продлить?", paid_service_activate_recommended_url %>
<% end %>